.link-header {
  font-size: rem(14);
  line-height: 100%;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .3px;
}

.text-p {
  font-family: $fontFamilyHelvetica;
  font-weight: 400;
  line-height: 175%;
}

._title {
  font-size: rem(48);
  line-height: math.div(59.52, 48);

  @include adaptiveValue("font-size", 48, 30);
}

._section {
  @include adaptiveValue("padding-top", 120, 40);
  @include adaptiveValue("padding-bottom", 120, 40);
}

%decore-line {
  content: '';
  position: absolute;
  width: 90.91%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: $textColor;

  @media (max-width:$tablet) {
    width: 100%;
  }
}