//========INTRO============================================================================================
.page {

  /* .page__intro */
  &__intro {}
}

.intro {
  padding: rem(209) 0 rem(175);
  background: $bgPromoColor;

  @include adaptiveValue("padding-top", 209, 100);

  /* .intro__container */
  &__container {
    position: relative;

    &::before {
      position: absolute;
      content: url('@img/intro/star-bg.svg');
      top: -124px;
      left: -108px;
      z-index: 5;
    }
  }

  &__content {
    position: relative;
    z-index: 10;

    @include adaptiveValue("padding-bottom", 101, 30);
  }

  &__image {
    position: absolute;
    right: -135px;
    top: 29px;
    z-index: 2;
    max-width: 100%;

    @media (max-width:$tablet) {
      opacity: .4;
    }
  }

  /* .intro__title */
  &__title {
    max-width: rem(540);

    &:not(:last-child) {
      margin: 0px 0px rem(20) 0px;
    }

    font-size: rem(62);
    font-weight: 900;
    line-height: math.div(76.88, 62);

    @media (max-width: em(570)) {
      font-size: rem(50);
    }
  }

  /* .intro__desc */
  &__desc {
    max-width: rem(455);

    &:not(:last-child) {
      margin: 0px 0px rem(34) 0px;
    }

    @extend %base-text;
    font-size: rem(18);
    line-height: math.div(30, 18);
  }

  /* .intro__button */
  &__button {
    padding: rem(20) rem(40);
  }

  /* .intro__footer */
  &__footer {
    display: flex;
    align-items: flex-end;

    @media (max-width: em(580)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  /* .intro__rating */
  &__rating {

    @media (max-width: em(580)) {
      margin: 0px 0px rem(20) 0px;
    }
  }

  /* .intro__contact */
  &__contact {
    align-self: flex-end;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* .rating__title */
  &__title {
    &:not(:last-child) {
      margin: 0px 0px rem(8) 0px;
    }

    font-size: 20px;
    font-weight: 700;
    line-height: math.div(22, 20);
    letter-spacing: 1;
    letter-spacing: .3px;
  }

  /* .rating__grade */
  &__grade {
    &::before {
      content: url('@img/rating/star.svg');
      width: rem(16);
      height: rem(16);
      margin: 0 rem(5);
    }
  }

  /* .rating__desc */
  &__desc {
    &:not(:last-child) {
      margin: 0px 0px rem(22) 0px;
    }

    @extend %base-text;
    letter-spacing: .3px;
  }

  /* .rating__list */
  &__list {
    display: flex;
    align-items: center;

    @media (max-width: em(580)) {
      justify-content: center;
    }
  }

  /* .rating__item */
  &__item {
    &~& {
      margin: 0px 0px 0px rem(-10);
    }
  }

  /* .rating__icon */
  &__icon {
    width: rem(48);
    height: rem(48);

    border-radius: 50%;
    border: 2px solid #fff;

    /* .rating__icon_more */
    &_more {
      background-color: #D6680F;
      color: #fff;

      font-size: rem(16);
      font-weight: 700;
      line-height: math.div(16, 16);
      text-align: center;
    }
  }
}

.contact {

  /* .contact__phone */
  &__phone {
    display: block;
    margin: 0px 0px rem(10) 0px;

    font-size: rem(16);
    font-weight: 700;
    line-height: math.div(19.64, 16);
    text-decoration: underline;
    color: $redColor;
  }

  /* .contact__desc */
  &__desc {
    max-width: rem(250);

    @extend %base-text;
    font-size: rem(12);
    font-weight: 500;
    line-height: math.div(17.64, 12);
  }
}

//====================================================================================================


//==========SEARCH========================================================================================

.search {
  margin: -150px 0px 0px 0px;

  /* .search__container */
  &__container {}

  /* .search__body */
  &__body {
    padding: 50px;

    background: #fff;
    box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
    border-radius: 10px;
  }

  /* .search__title */
  &__title {
    font-size: rem(24);
    font-weight: 700;
    line-height: math.div(29.76, 24);
  }
}

.search-form {

  /* .search-form__input */
  &__input {
    padding: 18px 20px;

    background-color: #F5F5F5;
    border-radius: 6px;

    &::placeholder {
      @extend %base-text;
      color: rgba(97, 89, 77, 0.6);

    }
  }

  /* .search-form__button */
  &__button {}
}

.button {}