//========INTRO============================================================================================

.intro {
  padding: rem(209) 0 rem(175);
  background: $bgPromoColor;

  @include adaptiveValue("padding-top", 209, 100);
  @include adaptiveValue("padding-bottom", 175, 120);

  /* .intro__container */
  &__container {
    position: relative;

    &::before {
      position: absolute;
      content: url('@img/intro/star-bg.svg');
      top: -124px;
      left: -108px;
      z-index: 5;
    }
  }

  &__content {
    position: relative;
    z-index: 10;

    @include adaptiveValue("padding-bottom", 101, 30);

    @media (max-width: em(580)) {
      text-align: center;
    }
  }

  &__image {
    position: absolute;
    right: -135px;
    top: 29px;
    z-index: 2;
    max-width: 100%;

    @media (max-width:$tablet) {
      opacity: .4;
    }
  }

  /* .intro__title */
  &__title {
    max-width: rem(540);

    &:not(:last-child) {
      margin: 0px 0px rem(20) 0px;
    }

    font-size: rem(62);
    font-weight: 900;
    line-height: math.div(76.88, 62);

    @media (max-width: em(570)) {
      font-size: rem(50);
    }
  }

  /* .intro__desc */
  &__desc {
    max-width: rem(455);

    &:not(:last-child) {
      margin: 0px 0px rem(34) 0px;

    }

    @media (max-width: em(580)) {
      max-width: none;
    }

    @extend %base-text;
    font-size: rem(18);
    line-height: math.div(30, 18);
  }

  /* .intro__footer */
  &__footer {
    display: flex;
    align-items: flex-end;

    @media (max-width: em(580)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  /* .intro__rating */
  &__rating {

    @media (max-width: em(580)) {
      margin: 0px 0px rem(20) 0px;
    }
  }

  /* .intro__contact */
  &__contact {
    align-self: flex-end;
  }
}

.rating {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* .rating__title */
  &__title {
    &:not(:last-child) {
      margin: 0px 0px rem(8) 0px;
    }

    font-size: 20px;
    font-weight: 700;
    line-height: math.div(22, 20);
    letter-spacing: 1;
    letter-spacing: .3px;
  }

  /* .rating__grade */
  &__grade {
    &::before {
      content: url('@img/rating/star.svg');
      width: rem(16);
      height: rem(16);
      margin: 0 rem(5);
    }
  }

  /* .rating__desc */
  &__desc {
    &:not(:last-child) {
      margin: 0px 0px rem(22) 0px;
    }

    @extend %base-text;
    letter-spacing: .3px;
  }

  /* .rating__list */
  &__list {
    display: flex;
    align-items: center;

    @media (max-width: em(580)) {
      justify-content: center;
    }
  }

  /* .rating__item */
  &__item {
    &~& {
      margin: 0px 0px 0px rem(-10);
    }
  }

  /* .rating__icon */
  &__icon {
    width: rem(48);
    height: rem(48);

    border-radius: 50%;
    border: 2px solid #fff;

    /* .rating__icon_more */
    &_more {
      background-color: #D6680F;
      color: #fff;

      font-size: rem(16);
      font-weight: 700;
      line-height: math.div(16, 16);
      text-align: center;
    }
  }
}

.contact {
  max-width: rem(250);

  /* .contact__phone */
  &__phone {
    display: block;
    margin: 0px 0px rem(10) 0px;

    font-size: rem(16);
    font-weight: 700;
    line-height: math.div(19.64, 16);
    text-decoration: underline;
    color: $redColor;
  }

  /* .contact__desc */
  &__desc {
    @extend %base-text;
    font-size: rem(12);
    font-weight: 500;
    line-height: math.div(17.64, 12);
  }
}


//==========SEARCH========================================================================================

.search {
  margin: rem(-105) 0px 0px 0px;

  /* .search__body */
  &__body {
    padding: rem(50);

    background: #fff;
    box-shadow: 30px 50px 150px rgba(39, 31, 26, 0.2);
    border-radius: rem(10);

    @media (max-width:$mobile) {
      padding: rem(25);
      margin-left: rem(-15);
      margin-right: rem(-15);
    }
  }

  /* .search__title */
  &__title {
    margin: 0px 0px rem(20) 0px;

    font-size: rem(24);
    font-weight: 700;
    line-height: math.div(29.76, 24);

    @media (max-width: em(580)) {
      text-align: center;
    }
  }
}

.search-form {
  display: flex;
  justify-content: center;

  @media (max-width: em(1110)) {
    flex-wrap: wrap;
  }

  /* .search-form__input */
  &__input {
    margin: 0 rem(20) 0 0;
    padding: rem(20.5) rem(62) rem(20.5) rem(20);
    flex: 1 1 auto;

    background-repeat: no-repeat;
    background-position: center right rem(20);

    background-color: #F5F5F5;
    border-radius: 6px;

    &::placeholder {
      @extend %base-text;
      font-weight: 500;
      line-height: math.div(23.52, 16);
      color: rgba(97, 89, 77, 0.6);
    }

    &_location {
      background-image: url('@img/search/location.svg');
    }

    &_type {
      background-image: url('@img/search/type.svg');
    }

    &_budget {
      background-image: url('@img/search/dollar.svg');
    }

    @media (max-width: em(1108)) {
      margin-bottom: rem(30)
    }

    @media (max-width:$tablet) {
      flex: 1 1 100%;
    }

    @media (max-width:$mobile) {
      margin-bottom: rem(20)
    }
  }
}

//==========SERVICES========================================================================================

.services {

  /* .services__list */
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width:$tablet) {
      justify-content: center;
    }
  }

  /* .services__item */
  &__item {
    flex: 0 1 rem(291);
    display: flex;
    flex-direction: column;
    align-items: start;

    @media (max-width:$tablet) {
      flex: 0 1 100%;
      align-items: center;

      &:not(:last-child) {
        margin: 0px 0px rem(40) 0px;
      }
    }
  }

  &__icon {
    flex: 0 0 rem(50);
    margin: 0px 0px rem(30) 0px;

    @media (max-width:$tablet) {
      margin: 0px 0px rem(20) 0px;
    }
  }

  /* .services__title */
  &__title {
    &:not(:last-child) {
      margin: 0px 0px rem(10) 0px;
    }

    font-size: rem(32);
    line-height: math.div(39.68, 32);
  }

  /* .services__text */
  &__text {
    margin: 0px 0px rem(30) 0px;
    flex: 1 1 auto;

    @extend %base-text;
    font-size: 16px;
    line-height: math.div(28, 16);

    @media (max-width:$tablet) {
      margin: 0px 0px rem(20) 0px;
    }
  }

  /* .services__link */
  &__link {
    text-decoration: underline;
    font-size: rem(16);
    line-height: math.div(19.84, 16);
    font-weight: 700;

    transition: color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: $redColor;
      }
    }
  }
}

//==========ABOUT========================================================================================

.about {
  padding: rem(76) 0px;

  background-color: #FDFBF6;

  @media (max-width:$mobile) {
    padding: rem(46) 0px;
  }

  /* .about__container */
  &__container {
    display: flex;
    align-items: center;

    @media (max-width:$mobile) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  /* .about__image-ibg */
  &__image-ibg {
    margin: 0px 0px 0px rem(-63);

    flex: 0 0 55.3%;
    padding: 0px 0px 46.3% 0px;

    mix-blend-mode: darken;


    @media (max-width: em(1300)) {
      margin: 0;
    }

    @media (max-width:$mobile) {
      width: 58%;
      align-self: center;
    }

    @media (max-width:$mobileSmall) {
      display: none;
    }
  }

  /* .about__content */
  &__content {
    padding: 0px 0px 0px rem(153);

    @media (max-width: em(1300)) {
      padding: 0px 0px 0px rem(40);
    }

    @media (max-width:$mobile) {
      padding: 0;
      margin: 0px 0px rem(40) 0px;

      text-align: center;
    }

    @media (max-width:$mobileSmall) {
      margin: 0;
    }
  }

  /* .about__title */
  &__title {

    &:not(:last-child) {
      margin: 0px 0px rem(20) 0px;
    }

    @media (max-width:$tablet) {
      &:not(:last-child) {
        margin: 0px 0px rem(10) 0px;
      }
    }
  }

  /* .about__text */
  &__text {
    @extend %base-text;
    font-size: rem(16);
    line-height: math.div(28, 16);

    @include adaptiveValue("font-size", 16, 14);

    &:not(:last-child) {
      margin: 0px 0px rem(40) 0px;
    }

    @media (max-width:$tablet) {
      &:not(:last-child) {
        margin: 0px 0px rem(20) 0px;
      }
    }
  }
}

//==========PORTFOLIO========================================================================================

.portfolio {

  /* .portfolio__title */
  &__title {
    margin: 0px 0px rem(50) 0px;

    @media (max-width:$mobile) {
      margin: 0px 0px rem(30) 0px;
    }

    @media (max-width:$mobileSmall) {
      text-align: center;
    }
  }

  /* .portfolio__item */
  &__item {
    &:not(:last-child) {
      // margin: 0px 0px 150px 0px;
      @include adaptiveValue("margin-bottom", 150, 20);
    }
  }
}

.item-portfolio {

  @media (min-width:$tablet) {

    display: flex;
    align-items: end;
    justify-content: space-between;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  /* .item-porftolio__desc */
  &__desc {
    padding: rem(21) 0px 0px 0px;
    position: relative;
    flex: 0 1 rem(330);
    margin: 0px rem(10) 0px 0px;

    &::before {
      @extend %decore-line;
    }

    @media (max-width:$tablet) {
      &:not(:last-child) {
        margin: 0px 0px rem(30) 0px;
      }
    }
  }

  /* .item-portfolio__title */
  &__title {
    &:not(:last-child) {
      margin: 0px 0px rem(10) 0px;
    }

    line-height: math.div(39.68, 32);

    @include adaptiveValue("font-size", 32, 26);

    @media (max-width:$mobileSmall) {
      text-align: center;
    }
  }

  /* .item-portfolio__text */
  &__text {
    @extend %base-text;
    line-height: math.div(28, 16);

    @include adaptiveValue("font-size", 16, 14);

    @media (max-width:$mobileSmall) {
      text-align: center;
    }
  }

  /* .item-portfolio__image-ibg */
  &__image-ib {
    margin: 0px rem(-150) 0px 0px;

    text-align: center;

    img {
      max-width: 100%;

      @media (max-width: em(1090)) {
        width: 90%;
      }

      @media (max-width:$tablet) {
        width: 60%;
      }
    }

    @media (max-width: em(1442)) {
      margin: 0;
    }
  }
}

//==========TEAM========================================================================================

.team {
  background-color: $mainColor;

  /* .team__container */
  &__container {
    position: relative;

    @media (min-width:$tablet) {
      display: flex;
    }
  }

  /* .team__body */
  &__body {
    position: relative;
    flex: 0 0 35.6%;
    @include adaptiveValue("padding-right", 100, 30);

    z-index: 5;

    &::before {
      position: absolute;
      content: '';
      top: -1px;
      left: 0;
      height: 101%;
      width: 200%;

      background-color: $mainColor;

      transform: translate(-52%, 0px);
    }
  }

  /* .team__title */
  &__title {
    position: relative;
    align-self: start;
    margin: 0px 0px rem(35) 0px;

    color: #fff;

    @media (max-width:$mobileSmall) {
      text-align: center;
    }
  }

  /* .team__slider */
  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: start;
  }
}

.slider-team {
  overflow: visible !important;
}

.slide-team {
  max-width: rem(350);
  position: relative;
  border-radius: rem(8);
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    background: linear-gradient(1.46deg, rgba(44, 35, 33, 0.9) -2.39%, rgba(44, 35, 33, 0) 34.73%, rgba(44, 35, 33, 0) 49.63%);
    height: 101%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
  }

  /* .slider-team__image-ibg */
  &__image-ibg {
    @media (min-width:$tablet) {
      min-height: rem(440);
    }

    padding: 0px 0px 124.1% 0px;
  }

  /* .slider-team__content */
  &__content {
    position: absolute;

    @include adaptiveValue("left", 30, 15);
    @include adaptiveValue("bottom", 23, 10);
    z-index: 5;
  }

  /* .slider-team__name */
  &__name {
    @include adaptiveValue("font-size", 24, 16);
    color: #fff;
    line-height: math.div(29.76, 24);
  }

  /* .slider-team__prof */
  &__prof {
    @extend %base-text;
    @include adaptiveValue("font-size", 16, 14);
    font-weight: 500;
    line-height: math.div(23.53, 16);
    color: #CDCDCD;
  }
}

.slider-arrows {
  position: absolute;
  z-index: 10;
  left: rem(19);
  bottom: rem(-1);

  @media (max-width:$tablet) {

    bottom: rem(-50);
    left: 50%;
    transform: translate(-50%, 0px);
  }
}

.slider-arrow {

  svg {
    @media (any-hover: hover) {
      &:hover {
        stroke: $redColor;
      }
    }
  }

  /* .slider-arrow_prev */
  &_prev {
    margin: 0px rem(14) 0px 0px;
  }
}


//==========POSTS========================================================================================

.posts {

  /* .posts__container */
  &__container {}

  /* .posts__body */
  &__body {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    @include adaptiveValue("column-gap", 70, 20);
    row-gap: 30px;

    @media (max-width:$mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  /* .posts__item */
  &__item {}
}

.post {

  /* .post__image-ibg */
  &__image-ibg {
    display: block;
    padding-bottom: percent(350, 535);
    margin: 0px 0px 50px 0px;
  }

  /* .post__info */
  &__info {
    margin: 0px 0px 10px 2px;

    @extend %base-text;
    font-size: rem(14);
    font-weight: 700;
    line-height: math.div(28, 14);

    span {
      display: inline-block;
      width: 6px;
      height: 6px;
      margin: 0px 7px 2px 10px;

      background: $redColor;
      border-radius: 50%;
    }
  }

  /* .post__content */
  &__content {
    position: relative;
    padding: 21px 0 0 1px;

    @include adaptiveValue("padding-right", 82, 10);

    &::before {
      @extend %decore-line;
      width: 56.075%;
    }
  }


  /* .post__title */
  &__title {
    display: block;

    &:not(:last-child) {
      margin: 0px 0px 11px 0px;
    }

    @include adaptiveValue("font-size", 32, 22);
    // font-size: rem(32);
    line-height: math.div(39.68, 32);
  }

  /* .post__text */
  &__text {
    @extend %base-text;
    font-size: rem(16);
    line-height: math.div(28, 16);
  }
}